.bg-header {
  background-color: $second-color;
}

.dropdown-item {
  color: $first-alpha-color;
  font-weight: bold;
  transition: all 0.3s ease-out;
}

.dropdown-item:hover {
  color: $third-alpha-color;
}

.navbar-brand img {
  height: 3rem;
  width: auto;
}

.navbar-dark .navbar-toggler {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  transition: all 0.3s ease-out;
}

.navbar-dark .navbar-toggler:hover {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28217, 0, 98, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  opacity: 0.55;
}

.nav-item {
  transition: all 0.3s ease-out;
}

.nav-item:hover {
  background-color: $first-alpha-color;
  background-color: transparent;
}

.nav-link {
  margin-left: 0.5rem;
  color: $first-color;
  font-size: 1.2rem;
  font-weight: bold;
}

.nav-link:hover {
  color: $bg-color;
}
